<div class="pure-menu pure-menu-horizontal navigation">
    <!-- <link rel="stylesheet" type="text/css" href="/css/navigation.css" /> -->
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a class="pure-menu-link {{#ifEquals navigation.active "create"}}active{{/ifEquals}}" href="/blog">Blog</a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link {{#ifEquals navigation.active "create"}}active{{/ifEquals}}" href="/post">Post</a>
        </li>
    
        {{#ifEqualsEither navigation.active "admin,login,create"}}
        <li class="pure-menu-item">
            <a class="pure-menu-link {{#ifEquals navigation.active "create"}}active{{/ifEquals}}" href="/admin">Admin</a>
        </li>    
        <li class="pure-menu-item">
            <a class="pure-menu-link {{#ifEquals navigation.active "create"}}active{{/ifEquals}}" href="/create">Create</a>
        </li>
        <li class="pure-menu-item">
            <a class="pure-menu-link {{#ifEquals navigation.active "create"}}active{{/ifEquals}}" href="/login">Login</a>
        </li>
    {{/ifEqualsEither}}
    </ul>
</div>