<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Create post</title>
        {{> header/globalStyles}}
    </head>

    <body>
        <div class="container">
            {{> navigation/navigation}}
            <h5>Create your new post!</h5>
            
            <!-- Include form -->
            {{> create/createForm}}
        </div>
    </body>

    <footer>
        {{> footer/globalScripts}}
    </footer>
    <script src="/js/create.js" defer></script>
</html>